# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor files
*~
.vscode
*.swp

#conan
*conanbuildinfo.txt
*conanbuildinfo.cmake
*conaninfo.txt
*activate_run.sh
*deactivate_run.sh
*graph_info.json
*dev_depends.json
*conan_git_md5sum.txt
*conan_local_version.txt
*@tmp/
builds
components
conan.lock
*.orig
*.orig~
